@import url("header-navigation.css");
@import url("postit.css");

section ul{
  margin:0;
  padding:0;
}

h3 {
  font-weight: bold;
  font-size: 1.1rem;
  margin: 1em;
  min-height: 2em;
  font-family:'Reenie Beanie';
}

h3:hover {
  color: rgb(36, 99, 237)
}

h2 {
  font-family:'Reenie Beanie';
}


p {

  padding:10%;
  font-family: "'Times New Roman', Times, serif";
  font-size: 0.8rem;
  line-height: 20px;
}

section ul li{
  margin:1em;
}

.post-it ul {
  list-style-type: none;
  border-top: solid 1px #333;
  margin: 0;
  padding: 0;
  width: 100%;
}

main {
  display: flex;
  min-height: 80vh;
  justify-content: space-evenly;
}

.post-it {
  min-height: 10vh;

  background-color: white;
  top: 10px;
}

#post-it-perso .post-it {
  border: solid 5px #a8f7bd;
}

#post-it-perso h2, #list-perso h3 {
  background-color: #a8f7bd;
  margin-bottom: 0;

  padding: 10px;
}

#post-it-partage h2, #list-partage h3 {
  background-color: #adf5f7;
  margin-bottom: 0;
  padding: 10px;
}

#post-it-partage .post-it {
  border: solid 10px #adf5f7;
}

section {
  display: inline-block;
  text-align: center;
  width: 38%;
  margin: 0 30px 30px 30px;
}



.post-it ul {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin: 0;
  padding: 0;
  height: auto;
}



.post-it ul li{
  margin: 0;
  padding: 0;
  height: 200px;
  width:35%;
}

.header {
  margin: 0px;
  padding: 0px;
  border: solid 1px #333;
}

#list-perso li .titre {
  flex-basis: 40%;
}

.modif-postit {
  flex-basis: 20%;
}

.suppr-postit {
  flex-basis: 30%;
}

#list-partage li .titre {
  flex-basis: 60%;
}

#list-partage li .date {
  flex-basis: 40%;
}

@media screen and (max-width: 825px) {
  section {
    width: 90%;
  }

  main {
    margin: 20px;
    display: block;
    min-height: 80vh;
    width: auto;
    text-align: center;
  }
}