@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

body {
    font-size: 16px;
    background-image: url(../img/backgroung.svg);
    background-color: #f8f8ff;
    background-size: 100%;
    background-repeat: no-repeat;
    font-family: "Montserrat", sans-serif;
  }

  h1 {
    color: #333;
    display: inline-block;
    margin-left: 30px;
  }
  
  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 10vh;
    flex-wrap: nowrap;
  }

  nav ul {
    padding-left:0;
  }
  
  nav ul li {
    display: inline-block;
    margin: 0 10px;
  }

  button#link {
    border: solid 2px #2a2a2b;
    background-color: #FCF171;
    color: #2a2a2b;
    border-radius: 20px;
    font-size: 1rem;
    padding: 10px 12px;
  }
  
  button#link:hover {
    background-color: #2a2a2b;
    color: #fdf171;
  }

  button#logout {
    border: solid 2px #2a2a2b;
    background-color: #2a2a2b;
    color: #fdf171;
    border-radius: 20px;
    font-size: 1rem;
    padding: 10px 12px;
  }
  
  button#logout:hover {
    background-color: #fdf171;
    color: #2a2a2b;
  }
  
  button#logout:active, button#link:active {
    font-size: 1.1em;
  }

@media screen and (max-width: 825px) {

  h1 {
    margin-left: 10px;
    font-size:1.2rem;
  }

  button#link , button#logout {
    font-size: 0.9rem;
  }

  button#logout {
    border: solid 4px #2a2a2b;
  }

  nav ul li {
    margin: 2px;
  }
}