@import url("header-navigation.css");
@import url('https://fonts.googleapis.com/css2?family=Hubballi&display=swap');

.container {
    display: flex;
    align-content: center;
    justify-content: center;
    min-height: 85vh;
    width: 100%;
}

.tableau {
    display: flex;
    align-content: center;
    justify-content: center;
    margin-top: 30px;
    background-color: #EBEDEF;
    border:solid 0.7rem #D7DBDD;
    border-style: double;
    border-radius: 1.6rem;
    height: 75vh;
    width: 75%;
    margin-top: 10px;
    font-family: 'Hubballi', cursive;
    box-shadow: inset -2px 2px 2px #D7DBDD, 4px 4px 1px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    margin-top: 10px;
    border-top-left-radius: 15px;
}

.aside-content > p {
    text-align: center;
    margin-top: 10px;
    font-size: 1.3rem;
    text-decoration: underline;
}

.content > p {
    margin-left: 1rem;
    margin-top: 2px;
}

#post-it-content {
    min-height: 50%;
    width: 80%;
    background-color:  #f9e79f ;
    border-top : solid 1rem #f7dc6f ;
    font-size: 1.1rem;
    padding: 2px 5px;
    color:black;
}

.content {
    display:flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    width: 100%;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    border-right-style: dotted;
    border-right-color: #B1B1B1;
}

.aside-content {
    display:flex;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: white;
    width: 30%;
    height:100%;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    margin:0px;
}

#edit-post-it > form > button {
    background-color: #144D14;
    border-radius: 20px;
    border: solid 3px #0F3C0F;
    color: white;
    padding: 10px 15px;
    margin: 0 10px;
}

#edit-post-it > form > button:hover {
    background-color: #1B6E1B;
    border-radius: 19px;
    border: solid 3px #0F3C0F;
    color: white;
    padding: 11px 14px;
    margin: 0 10px;
}

#edit-post-it {
    display: flex;
    justify-content: center;
    width: 80%;
}

#user-share {
    background-color: white;
    list-style-type: circle;
    flex-basis: 100%;
    max-height:100%;
    margin:0px;
    padding:0px;
}

#user-share > li {
    padding:0px 5px;
    width: 100%;
    display: inline-block;
    height:100%;
}

/*
#edit-post-it {
    display: none;
}*/