@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

body {
    font-size: 16px;
    background-image: url(../img/backgroung.svg);
    background-color: #f8f8ff;
    background-size: 100%;
    background-repeat: no-repeat;
    font-family: "Montserrat", sans-serif;
    box-sizing: border-box;
  }

  h1 {
    color: #333;
    display: inline-block;
    margin-left: 2rem;
  }
  
  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 10vh;
    flex-wrap: nowrap;
  }

  nav ul {
    padding-left:0;
  }
  
  nav ul li {
    display: inline-block;
    margin: 0 10px;
  }

  nav ul li button {
    color: #2a2a2b;
    background-color: #fdf171;
    border: none;
    font-size: 1.1rem;
  }

  nav ul li button:hover {
    border-bottom-color: #2a2a2b;
    color: #2a2a2b;
    border-bottom-width: 0.1em;
    border-bottom-style: solid;
    padding: 0;
    padding-bottom: 0.2em;  
  }
  
  button#logout {
    background-color: #fdf171;
    color: #2a2a2b;
    border: none;
    border-bottom-color: #2a2a2b;
    border-bottom-width: 0.1em;
    border-bottom-style: solid;
    padding: 0;
    padding-bottom: 0.2em;
  }
  
  nav ul li button:active {
    font-size: 1.2em;
  }

@media screen and (max-width: 825px) {

  h1 {
    margin-left: 0.8rem;
    font-size:1.2rem;
  }

  nav ul li button {
    font-size: 0.9rem;
  }

  nav ul li {
    margin: 2px;
  }
}